<section>
	<div class="container">
		<div class="row" *ngIf="!showContent">
			<div class="row">
				<div class="col-12">
					<h2>Idei de design pentru dinning area</h2>
				</div>
			</div>
			<div class="col-6">
				<h5>Timeless Elegance</h5>
				<a (click)="showDinningRoomOne('dinning-room-one')">
					<img [src]="imgDinningRoomOneUrl[0]" />
				</a>
			</div>
			<div class="col-6">
				<h5>Ivory Espresso Ambiance</h5>
				<a (click)="showDinningRoomTwo('dinning-room-two')">
					<img [src]="imgDinningRoomTwoUrl[0]" />
				</a>
			</div>
		</div>
		<div class="row" *ngIf="!showContent">
			<div class="col-6">
				<h5>Crystal Clear Appetite</h5>
				<a (click)="showDinningRoomThree('dinning-room-three')">
					<img [src]="imgDinningRoomThreeUrl[1]" />
				</a>
			</div>
		</div>

		<div *ngIf="showContent">
			<div class="row">
				<div class="col-12">
					<span (click)="hideContent()">Inapoi la idei de dinning area </span>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<router-outlet></router-outlet>
				</div>
			</div>
		</div>
	</div>
</section>
