@import '../../stylesheets/reset.scss';
@import '../../stylesheets/anchor-reset.scss';

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #171717;
	box-shadow: 0px 25px 20px -20px rgba(0, 0, 0, 0.45);
	padding: 10px 20px;

	.logo {
		img {
			width: 70px;
			height: auto;
			cursor: pointer;
		}
	}

	.navbtns {
		position: relative;

		.menu {
			display: flex;
			list-style-type: none;
			padding: 0;
			margin: 0;

			li {
				margin-right: 30px;
				font-size: 16px;
				letter-spacing: 1px;
				text-transform: uppercase;

				a {
					color: #fff;
					text-decoration: none;

					&:hover {
						color: #b19777;
					}
				}
			}
		}

		@media (max-width: 549px) {
			.menu {
				display: none;
			}
		}
	}
}

@media (min-width: 550px) and (max-width: 675px) {
	nav {
		.navbtns {
			ul {
				li {
					font-size: 16px;
				}
			}
		}
	}
}

@media (min-width: 550px) {
	.logo {
		img {
			width: 70px;
			height: auto;
		}
	}
	.mobile-burger-menu {
		display: none;
	}
}

.animated-icon2 {
	width: 30px;
	height: 10px;
	position: relative;
	margin: 0px;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: 0.5s ease-in-out;
	-moz-transition: 0.5s ease-in-out;
	-o-transition: 0.5s ease-in-out;
	transition: 0.5s ease-in-out;
	cursor: pointer;
}

.animated-icon2 span {
	display: block;
	position: absolute;
	margin-bottom: 0;
	height: 2px;
	width: 100%;
	border-radius: 9px;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: 0.25s ease-in-out;
	-moz-transition: 0.25s ease-in-out;
	-o-transition: 0.25s ease-in-out;
	transition: 0.25s ease-in-out;
}

.animated-icon2 span {
	background: #e3f2fd;
}

.animated-icon1 span:nth-child(2) {
	top: 10px;
}

.animated-icon2 span:nth-child(1) {
	top: 0px;
}

.animated-icon2 span:nth-child(2),
.animated-icon2 span:nth-child(3) {
	top: 10px;
}

.animated-icon2 span:nth-child(4) {
	top: 20px;
}

.animated-icon2.open span:nth-child(1) {
	top: 11px;
	width: 0%;
	left: 50%;
}

.animated-icon2.open span:nth-child(2) {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

.animated-icon2.open span:nth-child(3) {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.animated-icon2.open span:nth-child(4) {
	top: 11px;
	width: 0%;
	left: 50%;
}

.collapsedbtns {
	background-color: #171717;

	.menu {
		@include reset-list;

		li {
			display: flex;
			justify-content: center;
			a {
				color: #fff;
				text-decoration: none;
				text-align: center;

				&:hover {
					color: #b19777;
				}
			}
		}
	}
}
