<div class="row">
	<div class="col-12">
		<div class="header">
			<div class="title">
				<h4>Emerald Elegance</h4>
			</div>
			<div class="vertical-line"></div>
			<div class="dimensions">
				<h6>Dimensiuni: &nbsp;</h6>
				<ul>
					<li>Lungime: TBA m &nbsp;</li>
					<li>Latime: TBA m</li>
				</ul>
			</div>
		</div>
		<img src="../../../../assets/Living/L4/Living4-1.jpeg" />
	</div>
</div>
<div class="row">
	<div class="col-12">
		<img src="../../../../assets/Living/L4/Living4-2.jpeg" />
	</div>
</div>
<div class="row">
	<div class="col-12">
		<img src="../../../../assets/Living/L4/Living4-3.jpeg" />
	</div>
</div>
<div class="row">
	<div class="col-12">
		<img src="../../../../assets/Living/L4/Living4-4.jpeg" />
	</div>
</div>
<div class="row">
	<div class="col-12">
		<img src="../../../../assets/Living/L4/Living4-5.jpeg" />
	</div>
</div>
<div class="row">
	<div class="col-12">
		<img src="../../../../assets/Living/L4/Living4-6.jpeg" />
	</div>
</div>
<div class="row">
	<div class="col-12">
		<img src="../../../../assets/Living/L4/Living4-7.jpeg" />
	</div>
</div>
<div class="row">
	<div class="col-12">
		<img src="../../../../assets/Living/L4/Living4-8.jpeg" />
	</div>
</div>
<div class="row">
	<div class="col-12">
		<img class="square" src="../../../../assets/Living/L4/Living4-9.jpeg" />
	</div>
</div>
<div class="row">
	<div class="col-12">
		<img class="portrait" src="../../../../assets/Living/L4/Living4-10.jpeg" />
	</div>
</div>
