<div class="row">
	<div class="col-12">
		<div class="header">
			<div class="title">
				<h4>Emerald Sweet Dreams</h4>
			</div>
			<div class="vertical-line"></div>
			<div class="dimensions">
				<h6>Dimensiuni: &nbsp;</h6>
				<ul>
					<li>Lungime: 4.9 m &nbsp;</li>
					<li>Latime: 4 m</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-12">
		<div class="img-alignment">
			<img [src]="url" *ngFor="let url of imgDormitorFourUrls" />
		</div>
	</div>
</div>
