<div class="ultra-section">
	<div class="ultra-section__header">
		<h2 class="ultra-section__title">Ce include pachetul ultra?</h2>

		<div class="price">20 euro/mp</div>
	</div>
	<ul class="ultra-section__list">
		<li class="ultra-section-items">
			<h5 class="ultra-section-items__title">Consultare in amenajare</h5>
			<p class="ultra-section-items__details">
				▷Ne vom intalni cu tine (fizic sau online) pentru a discuta despre preferintele tale de design,
				cerintele si bugetul. Acest lucru ne va ajuta sa intelegem viziunea si obiectivele tale pentru
				proiect.
			</p>
		</li>
		<li class="ultra-section-items">
			<h5 class="ultra-section-items__title">Planificarea spatiului</h5>
			<p class="ultra-section-items__details">
				▷Vom creea un plan detaliat care optimizează utilizarea spatiului, luand in considerare fluxul de
				trafic, functionalitatea si estetica.
			</p>
		</li>
		<li class="ultra-section-items">
			<h5 class="ultra-section-items__title">Dezvoltarea conceptului</h5>
			<p class="ultra-section-items__details">
				▷Pe baza preferintelor si cerintelor tale, vom dezvolta un concept de design care sa reflecte stilul
				tau si atmosfera dorita. Aceasta va include selectarea culorilor, materialelor, finisajelor si
				optiunilor de mobilier.
			</p>
		</li>
		<li class="ultra-section-items">
			<h5 class="ultra-section-items__title">Plan 2D</h5>
			<p class="ultra-section-items__details">
				▷Iti vom oferi reprezentări in plan 2D al asezarii mobilierului pentru designului propus,
				permitandu-ti sa vizualizezi cum va arata spatiul.
			</p>
		</li>
		<li class="ultra-section-items">
			<h5 class="ultra-section-items__title">Plan 3D</h5>
			<p class="ultra-section-items__details">
				▷Iti oferim o perspectiva realista si detaliata a spatiului amenajat, permitand vizualizarea acestuia
				din diferite unghiuri si perspective.
			</p>
		</li>
		<li class="ultra-section-items">
			<h5 class="ultra-section-items__title">Selectia mobilierului si a finisajelor</h5>
			<p class="ultra-section-items__details">
				▷Te vom ajuta sa alegi mobilierul, accesoriile si finisajele care se aliniaza cu conceptul de design.
				Putem oferi recomandari si sa gasim atat piese personalizate, cat si standard.
			</p>
		</li>
		<li class="ultra-section-items">
			<h5 class="ultra-section-items__title">Centralizator costuri</h5>
			<p class="ultra-section-items__details">
				▷Iti oferim un centralizator al costurilor, inclusiv articole personalizate si articole care urmeaza
				sa fie achizitionate din magazine online sau fizice, mentinand bugetul.
			</p>
		</li>
		<li class="ultra-section-items">
			<h5 class="ultra-section-items__title">Deplasari pe santier</h5>
			<p class="ultra-section-items__details">
				▷Trei deplasari la santier pentru discutii cu echipa de constructori inainte de inceperea lucrarilor,
				in timpul si dupa finalizarea acestora.
			</p>
		</li>
		<li class="ultra-section-items">
			<h5 class="ultra-section-items__title">Randari</h5>
			<p class="ultra-section-items__details">▷ Cate 3 randari pentru fiecare spatiu finalizat.</p>
		</li>
	</ul>
	<div class="ultra-section__footer">
		<button mat-raised-button mat-dialog-close color="warn">Inchide</button>
	</div>
</div>
