<div class="row">
	<div class="col-12">
		<h5>Modern Elegance: A Cozy Bedroom Retreat</h5>

		<img src="../../../assets/Dormitor/D2/Dormitor2-1.jpeg" />
	</div>
</div>
<div class="row">
	<div class="col-12">
		<img src="../../../assets/Dormitor/D2/Dormitor2-2.jpeg" />
	</div>
</div>
<div class="row">
	<div class="col-12">
		<img src="../../../assets/Dormitor/D2/Dormitor2-3.jpeg" />
	</div>
</div>
<div class="row">
	<div class="col-12">
		<img src="../../../assets/Dormitor/D2/Dormitor2-4.jpeg" />
	</div>
</div>
<div class="row">
	<div class="col-12">
		<img src="../../../assets/Dormitor/D2/Dormitor2-5.jpeg" />
	</div>
</div>
