<div class="premium-section">
	<div class="premium-section__header">
		<h2 class="premium-section__title">Ce include pachetul <span>premium</span>?</h2>

		<div class="price">15 <span>euro/mp</span></div>
	</div>
	<ul class="premium-section__list">
		<li class="premium-section-items">
			<h5 class="premium-section-items__title">Consultare in <span>amenajare</span></h5>
			<p class="premium-section-items__details">
				▷Ne vom intalni cu tine (fizic sau online) pentru a discuta despre preferintele tale de design,
				cerintele si bugetul. Acest lucru ne va ajuta sa intelegem viziunea si obiectivele tale pentru
				proiect.
			</p>
		</li>
		<li class="premium-section-items">
			<h5 class="premium-section-items__title">Planificarea <span>spatiului</span></h5>
			<p class="premium-section-items__details">
				▷Vom creea un plan detaliat care optimizează utilizarea spatiului, luand in considerare fluxul de
				trafic, functionalitatea si estetica.
			</p>
		</li>
		<li class="premium-section-items">
			<h5 class="premium-section-items__title">Dezvoltarea <span>conceptului</span></h5>
			<p class="premium-section-items__details">
				▷Pe baza preferintelor si cerintelor tale, vom dezvolta un concept de design care sa reflecte stilul
				tau si atmosfera dorita. Aceasta va include selectarea culorilor, materialelor, finisajelor si
				optiunilor de mobilier.
			</p>
		</li>
		<li class="premium-section-items">
			<h5 class="premium-section-items__title">Plan <span>2D</span></h5>
			<p class="premium-section-items__details">
				▷Iti vom oferi reprezentări in plan 2D al asezarii mobilierului pentru designului propus,
				permitandu-ti sa vizualizezi cum va arata spatiul.
			</p>
		</li>
		<li class="premium-section-items">
			<h5 class="premium-section-items__title">Plan <span>3D</span></h5>
			<p class="premium-section-items__details">
				▷Iti oferim o perspectiva realista si detaliata a spatiului amenajat, permitand vizualizarea acestuia
				din diferite unghiuri si perspective.
			</p>
		</li>
		<li class="premium-section-items">
			<h5 class="premium-section-items__title">
				Selectia <span>mobilierului</span> si a
				<span>finisajelor</span>
			</h5>
			<p class="premium-section-items__details">
				▷Te vom ajuta sa alegi mobilierul, accesoriile si finisajele care se aliniaza cu conceptul de design.
				Putem oferi recomandari si sa gasim atat piese personalizate, cat si standard.
			</p>
		</li>
		<li class="premium-section-items">
			<h5 class="premium-section-items__title">Centralizator <span>costuri</span></h5>
			<p class="premium-section-items__details">
				▷Iti oferim un centralizator al costurilor, inclusiv articole personalizate si articole care urmeaza
				sa fie achizitionate din magazine online sau fizice, mentinand bugetul.
			</p>
		</li>
	</ul>
	<div class="premium-section__footer">
		<button mat-raised-button mat-dialog-close color="warn">Inchide</button>
	</div>
</div>
