<section id="portofolio">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h2>Proiectele noastre</h2>
			</div>
		</div>

		<div class="row" *ngIf="!showContent">
			<div class="col-6" *ngFor="let item of imgPortofoliu">
				<h5>
					{{ item.title }}
				</h5>
				<a (click)="showCategory(item.category)">
					<img [src]="item.url" />
				</a>
			</div>
		</div>

		<div class="row" *ngIf="showContent">
			<div class="col-12">
				<span (click)="hideContent()">Inapoi la portofoliu</span>
			</div>
			<div class="col-12">
				<router-outlet></router-outlet>
			</div>
		</div>
	</div>
</section>
