@import '../../stylesheets/reset.scss';
@import '../../stylesheets/anchor-reset.scss';

#portofolio {
	margin-top: 32px;

	.container {
		.row {
			.col-12 {
				margin-bottom: 16px;
				h2 {
					font-weight: 400;
					color: #272727;
					text-transform: uppercase;
					margin-bottom: 16px;
				}
				span {
					margin-bottom: 24px;
					padding: 8px;
					background-color: #b19777;
					color: #fff;
					font-size: 12px;
					font-weight: 400;
					text-transform: uppercase;
					letter-spacing: 2px;
					text-align: center;
					border: none;
					border-radius: 4px;
					cursor: pointer;
					transition: background-color 0.5s ease;

					&:hover {
						background-color: #272727;
					}
				}
			}

			.col-6 {
				margin-bottom: 12px;

				h5 {
					text-align: center;
					font-weight: 300;
				}

				a {
					@include anchor-reset;

					img {
						box-shadow: 4px 4px 6px #b19777;
						margin-bottom: 12px;
						border-radius: 8px;
						width: 100%;
						height: auto;

						&:hover {
							cursor: pointer;
						}
					}
				}
			}
		}
	}
}

@media (max-width: 575px) {
	.row {
		.col-12 {
			h2 {
				font-size: 24px;
				letter-spacing: 6px;
				word-spacing: 2px;
				text-align: center;
			}
		}

		.col-6 {
			width: 100%;
			padding-left: 12px;
			padding-right: 12px;

			h5 {
				font-size: 16px;
			}
		}
	}
}

@media (min-width: 576px) and (max-width: 768px) {
	.row {
		.col-12 {
			h2 {
				font-size: 24px;
				letter-spacing: 6px;
				word-spacing: 2px;
				text-align: center;
			}
		}
		.col-6 {
			width: 100%;
			padding-left: 12px;
			padding-right: 12px;
		}
	}
}

@media (min-width: 769px) and (max-width: 1024px) {
	.row {
		.col-12 {
			h2 {
				font-size: 28px;
				letter-spacing: 6px;
				word-spacing: 2px;
			}
		}
		.col-6 {
			width: 100%;
			padding-left: 12px;
			padding-right: 12px;
		}
	}
}

@media (min-width: 1025px) {
	.container {
		padding: 0;
		.row {
			padding: 0;
			margin: 0;
			.col-12 {
				padding: 0;

				h2 {
					font-size: 32px;
					letter-spacing: 6px;
					word-spacing: 2px;
				}
			}

			.col-6 {
				padding-left: 0;
			}
		}
	}
}
