<section id="portofolio">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h2>Proiectele noastre</h2>
			</div>
		</div>
		<div class="row" *ngIf="!showContent">
			<div class="col-6">
				<a (click)="showDormitor('dormitor')">
					<img src="../../assets/Dormitor/DormitorPortofoliu.png" />
				</a>
			</div>
			<div class="col-6">
				<a (click)="showBaie('baie')">
					<img src="../../assets/Baie/BaiePortofoliu.png" />
				</a>
			</div>
		</div>
		<div class="row" *ngIf="!showContent">
			<div class="col-6">
				<a (click)="showBirou('birou')">
					<img src="../../assets/Birou/BirouPortofoliu.png" />
				</a>
			</div>
			<div class="col-6">
				<a (click)="showBucatarie('bucatarie')">
					<img src="../../assets/Bucatarie/BucatariePortofoliu.png" />
				</a>
			</div>
		</div>
		<div class="row" *ngIf="!showContent">
			<div class="col-6">
				<a (click)="showDinningRoom('dinning-room')">
					<img src="../../assets/DinningRoom/DinningAreaPortofoliu.png" />
				</a>
			</div>
			<div class="col-6">
				<a (click)="showLiving('living')">
					<img src="../../assets/Living/LivingPortofoliu.png" />
				</a>
			</div>
		</div>
		<div class="row" *ngIf="!showContent">
			<div class="col-6">
				<a (click)="showTerasa('terasa')">
					<img src="../../assets/Terasa/TerasaPortofoliu.png" />
				</a>
			</div>
		</div>

		<div class="row" *ngIf="showContent">
			<div class="col-12">
				<span (click)="hideContent()">Inapoi la portofoliu</span>
			</div>
			<div class="col-12">
				<router-outlet></router-outlet>
			</div>
		</div>
	</div>
</section>

<!-- <mat-tab-group>
				<mat-tab label="Restaurant">
					<div class="title">Idei <span>Design</span> Restaurant</div>
					<ngb-carousel [interval]="4000">
						<ng-template ngbSlide *ngFor="let restaurantImg of restaurantImgs">
							<div class="picsum-img-wrapper">
								<img [src]="getRestaurantImgs(restaurantImg)" />
							</div>
						</ng-template>
					</ngb-carousel>
				</mat-tab>
				
			</mat-tab-group> -->
