<section id="portofolio">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>Proiectele <span>noastre</span></h2>
			</div>
		</div>
		<div class="row">
			<mat-tab-group>
				<!-- <mat-tab label="New Design">
					<div class="title">Idei <span>Design</span> placeholder</div>
					<button (click)="goToNew()">Proiect 1</button>
					<router-outlet></router-outlet>
				</mat-tab> -->
				<!-- <mat-tab label="Dormitor">
					<div class="title">Idei <span>Design</span> Dormitor</div>
					<button (click)="goToDormitorOne()">Dormitor 1</button>
					<router-outlet></router-outlet>
				</mat-tab> -->
				<mat-tab label="Restaurant">
					<div class="title">Idei <span>Design</span> Restaurant</div>
					<ngb-carousel [interval]="4000">
						<ng-template ngbSlide *ngFor="let restaurantImg of restaurantImgs">
							<div class="picsum-img-wrapper">
								<img [src]="getRestaurantImgs(restaurantImg)" />
							</div>
						</ng-template>
					</ngb-carousel>
				</mat-tab>
				<mat-tab label="Bunica">
					<div class="title">Idei <span>Design</span> Bunica</div>
					<ngb-carousel [interval]="4000">
						<ng-template ngbSlide *ngFor="let bunicaImg of bunicaImgs">
							<div class="picsum-img-wrapper">
								<img [src]="getBunicaImgs(bunicaImg)" />
							</div>
						</ng-template>
					</ngb-carousel>
				</mat-tab>
				<mat-tab label="Cabana">
					<div class="title">Idei <span>Design</span> Cabana</div>
					<ngb-carousel [interval]="4000">
						<ng-template ngbSlide *ngFor="let cabanaImg of cabanaImgs">
							<div class="picsum-img-wrapper">
								<img [src]="getCabanaImgs(cabanaImg)" />
							</div>
						</ng-template>
					</ngb-carousel>
				</mat-tab>
				<mat-tab label="Green House">
					<div class="title">Idei <span>Design</span> Green <span>House</span></div>
					<ngb-carousel [interval]="4000">
						<ng-template ngbSlide *ngFor="let greenImg of greenImgs">
							<div class="picsum-img-wrapper">
								<img [src]="getGreenImgs(greenImg)" />
							</div>
						</ng-template>
					</ngb-carousel>
				</mat-tab>
				<mat-tab label="Mansarda">
					<div class="title">Idei <span>Design</span> Mansarda</div>
					<ngb-carousel [interval]="4000">
						<ng-template ngbSlide *ngFor="let mansardaImg of mansardaImgs">
							<div class="picsum-img-wrapper">
								<img [src]="getMansardaImgs(mansardaImg)" />
							</div>
						</ng-template>
					</ngb-carousel>
				</mat-tab>
				<mat-tab label="Apartament">
					<div class="title">Idei <span>Design</span> Apartament</div>
					<ngb-carousel [interval]="4000">
						<ng-template ngbSlide *ngFor="let mogosoaiaImg of mogosoaiaImgs">
							<div class="picsum-img-wrapper">
								<img [src]="getMogosoaiaImgs(mogosoaiaImg)" />
							</div>
						</ng-template>
					</ngb-carousel>
				</mat-tab>
				<mat-tab label="Office">
					<div class="title">Idei <span>Design</span> Office</div>
					<ngb-carousel [interval]="4000">
						<ng-template ngbSlide *ngFor="let officeImg of officeImgs">
							<div class="picsum-img-wrapper">
								<img [src]="getOfficeImgs(officeImg)" />
							</div>
						</ng-template>
					</ngb-carousel>
				</mat-tab>
				<mat-tab label="Red House">
					<div class="title">Idei <span>Design</span> Red <span>House</span></div>
					<ngb-carousel [interval]="4000">
						<ng-template ngbSlide *ngFor="let redImg of redImgs">
							<div class="picsum-img-wrapper">
								<img [src]="getRedImgs(redImg)" />
							</div>
						</ng-template>
					</ngb-carousel>
				</mat-tab>
			</mat-tab-group>
		</div>
	</div>
</section>
