<div class="row">
	<div class="col-12">
		<div class="header">
			<div class="title">
				<h4>White Radiance Kitchen</h4>
			</div>
			<div class="vertical-line"></div>
			<div class="dimensions">
				<h6>Dimensiuni: &nbsp;</h6>
				<ul>
					<li>Lungime: 4.2 m &nbsp;</li>
					<li>Latime: 3.1 m</li>
				</ul>
			</div>
		</div>
		<img src="../../../../assets/Bucatarie/B2/Bucatarie2-1.jpeg" />
	</div>
</div>
<div class="row">
	<div class="col-12">
		<img src="../../../../assets/Bucatarie/B2/Bucatarie2-2.jpeg" />
	</div>
</div>
