@import '../../stylesheets/reset.scss';
@import '../../stylesheets/anchor-reset.scss';

#contact-us {
	margin-top: 32px;
}

.container {
	.row {
		.col-md-12 {
			h2 {
				font-size: 36px;
				font-weight: 400;
				color: #272727;
				text-transform: uppercase;
				letter-spacing: 10px;
				word-spacing: 5px;
				margin-bottom: 36px;

				span {
					color: #b19777;
				}
			}
		}
	}
	.row {
		.col-md-3 {
			border-right: 1px solid #b197773d;
			h2 {
				font-size: 18px;
				font-weight: 400;
				color: #272727;
				text-transform: uppercase;
				letter-spacing: 5px;
				word-spacing: 3px;

				span {
					color: #b19777;
				}
			}
			ul {
				@include reset-list;

				li {
					font-size: 16px;
					display: flex;
					justify-content: space-between;
					margin-bottom: 8px;
					span {
						color: #b19777;
					}
					a {
						@include anchor-reset;
					}
					a:hover {
						color: #b19777;
						text-decoration: underline;
					}
				}
			}
			.social-media-icons {
				display: flex;

				svg:hover {
					fill: #b19777;
				}
			}
		}
		.col-md-3:last-child {
			border-right: none;
		}
	}
}

@media only screen and (max-width: 375px) {
	.container {
		.row {
			.col-md-12 {
				h2 {
					font-size: 24px;
					letter-spacing: 3px;
					word-spacing: 2px;
					margin-bottom: 24px;
				}
			}
			.col-md-3 {
				.img-alignment {
					display: flex;
					justify-content: center;
					align-items: center;
				}
			}
		}
	}
}

@media (min-width: 376px) and (max-width: 425px) {
	.container {
		.row {
			.col-md-12 {
				h2 {
					font-size: 30px;
					letter-spacing: 5px;
					word-spacing: 3px;
				}
			}
			.col-md-3 {
				.img-alignment {
					display: flex;
					justify-content: center;
					align-items: center;
				}
			}
		}
	}
}

@media (min-width: 426px) and (max-width: 768px) {
	.container {
		.row {
			.col-md-3 {
				width: 50%;

				.img-alignment {
					display: flex;
					justify-content: center;
					align-items: center;

					img {
						width: 150px;
						height: 150px;
					}
				}
			}

			.col-md-3:nth-child(2) {
				border: none;
			}
		}
	}
}

@media (min-width: 769px) and (max-width: 1024px) {
	.container {
		.row {
			h2 {
				font-size: 24px;
				letter-spacing: 3px;
				word-spacing: 2px;
				color: red;
			}
			.col-md-3 {
				width: 33%;
				h2 {
					font-size: 20px;
					letter-spacing: 3px;
					word-spacing: 2px;
				}
				ul {
					li {
						font-size: 16px;
					}
				}

				.img-alignment {
					display: none;
				}
			}

			.col-md-3:nth-child(3) {
				border: none;
			}
		}
	}
}
