<div class="row">
	<div class="col-12">
		<h5>Sweet Dreams: A Cozy Bedroom Hideaway</h5>
		<img src="../../../assets/Dormitor/D1/Dormitor1-1.jpeg" />
	</div>
</div>
<div class="row">
	<div class="col-12">
		<img src="../../../assets/Dormitor/D1/Dormitor1-2.jpeg" />
	</div>
</div>
<div class="row">
	<div class="col-12">
		<img src="../../../assets/Dormitor/D1/Dormitor1-3.jpeg" />
	</div>
</div>
<div class="row">
	<div class="col-12">
		<img src="../../../assets/Dormitor/D1/Dormitor1-4.jpeg" />
	</div>
</div>
