<div class="row">
	<div class="col-12">
		<div class="header">
			<div class="title">
				<h4>Arctic Bliss Bathroom</h4>
			</div>
			<div class="vertical-line"></div>
			<div class="dimensions">
				<h6>Dimensiuni: &nbsp;</h6>
				<ul>
					<li>Lungime: 4 m &nbsp;</li>
					<li>Latime: 1.5 m</li>
				</ul>
			</div>
		</div>
		<img src="https://storage.cloud.google.com/rdesign/assets/Baie/B1/Baie1-1.jpeg" />
	</div>
</div>
<div class="row">
	<div class="col-12">
		<img src="https://storage.cloud.google.com/rdesign/assets/Baie/B1/Baie1-2.jpeg" />
	</div>
</div>
<div class="row">
	<div class="col-12">
		<img src="https://storage.cloud.google.com/rdesign/assets/Baie/B1/Baie1-3.jpeg" />
	</div>
</div>
