<section>
	<div class="container">
		<div class="row" *ngIf="!showContent">
			<div class="row">
				<div class="col-12">
					<h2>Idei de design pentru terasa</h2>
				</div>
			</div>
			<div class="col-6">
				<h5>Skyview Terrace</h5>
				<a (click)="showTerasaOne('terasa-one')">
					<img src="../../../assets/Terasa/T1/Terasa3.jpeg" />
				</a>
			</div>
		</div>

		<div *ngIf="showContent">
			<div class="row">
				<div class="col-12">
					<span (click)="hideContent()">Inapoi la idei de terase</span>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<router-outlet></router-outlet>
				</div>
			</div>
		</div>
	</div>
</section>
