<div class="row">
	<div class="col-12">
		<div class="header">
			<div class="title">
				<h4>Cappuccino Lounge</h4>
			</div>
			<div class="vertical-line"></div>
			<div class="dimensions">
				<h6>Dimensiuni: &nbsp;</h6>
				<ul>
					<li>Lungime: 5 m &nbsp;</li>
					<li>Latime: 5 m</li>
				</ul>
			</div>
		</div>
		<img src="../../../../assets/Living/L1/Living1-1.jpeg" />
	</div>
</div>
<div class="row">
	<div class="col-12">
		<img src="../../../../assets/Living/L1/Living1-2.jpeg" />
	</div>
</div>
<div class="row">
	<div class="col-12">
		<img src="../../../../assets/Living/L1/Living1-3.jpeg" />
	</div>
</div>
<div class="row">
	<div class="col-12">
		<img src="../../../../assets/Living/L1/Living1-4.jpeg" />
	</div>
</div>
<div class="row">
	<div class="col-12">
		<img src="../../../../assets/Living/L1/Living1-5.jpeg" />
	</div>
</div>
<div class="row">
	<div class="col-12">
		<img src="../../../../assets/Living/L1/Living1-6.jpeg" />
	</div>
</div>
<div class="row">
	<div class="col-12">
		<img src="../../../../assets/Living/L1/Living1-7.jpeg" />
	</div>
</div>
<div class="row">
	<div class="col-12">
		<img src="../../../../assets/Living/L1/Living1-8.jpeg" />
	</div>
</div>
<div class="row">
	<div class="col-12">
		<img src="../../../../assets/Living/L1/Living1-9.jpeg" />
	</div>
</div>
