<div class="row">
	<div class="col-12">
		<div class="header">
			<div class="title">
				<h4>Crimson Haven Retreat</h4>
			</div>
			<div class="vertical-line"></div>
			<div class="dimensions">
				<h6>Dimensiuni: &nbsp;</h6>
				<ul>
					<li>Lungime: 4 m &nbsp;</li>
					<li>Latime: 3.8 m</li>
				</ul>
			</div>
		</div>
		<img src="../../../../assets/Living/L2/Living2-1.jpeg" />
	</div>
</div>
<div class="row">
	<div class="col-12">
		<img src="../../../../assets/Living/L2/Living2-2.jpeg" />
	</div>
</div>
<div class="row">
	<div class="col-12">
		<img src="../../../../assets/Living/L2/Living2-3.jpeg" />
	</div>
</div>
