<div class="row">
	<div class="col-12">
		<img src="../../../../assets/Bucatarie/B1/Bucatarie1-1.jpeg" />
	</div>
</div>
<div class="row">
	<div class="col-12">
		<img src="../../../../assets/Bucatarie/B1/Bucatarie1-2.jpeg" />
	</div>
</div>
<div class="row">
	<div class="col-12">
		<img src="../../../../assets/Bucatarie/B1/Bucatarie1-3.jpeg" />
	</div>
</div>
<div class="row">
	<div class="col-12">
		<img src="../../../../assets/Bucatarie/B1/Bucatarie1-4.jpeg" />
	</div>
</div>
<div class="row">
	<div class="col-12">
		<img src="../../../../assets/Bucatarie/B1/Bucatarie1-5.jpeg" />
	</div>
</div>
