<div class="row">
	<div class="header">
		<div class="title">
			<h4>Radiant Relaxation Room</h4>
		</div>
		<div class="vertical-line"></div>
		<div class="dimensions">
			<h6>Dimensiuni: &nbsp;</h6>
			<ul>
				<li>Lungime: 5 m &nbsp;</li>
				<li>Latime: 4.3 m</li>
			</ul>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-6" *ngFor="let urlSplit of imgSplitLivingThreeUrls">
		<img [src]="urlSplit" />
	</div>
</div>

<div class="row">
	<div class="col-12" *ngFor="let urlFull of imgFullLivingThreeUrls">
		<img [src]="urlFull" />
	</div>
</div>
