<div class="row">
	<div class="col-12">
		<img src="../../../../assets/Birou/B1/Birou1-1.jpeg" />
	</div>
</div>
<div class="row">
	<div class="col-12">
		<img src="../../../../assets/Birou/B1/Birou1-2.jpeg" />
	</div>
</div>
<div class="row">
	<div class="col-12">
		<img src="../../../../assets/Birou/B1/Birou1-3.jpeg" />
	</div>
</div>
<div class="row">
	<div class="col-12">
		<img src="../../../../assets/Birou/B1/Birou1-4.jpeg" />
	</div>
</div>
<div class="row">
	<div class="col-12">
		<img src="../../../../assets/Birou/B1/Birou1-5.jpeg" />
	</div>
</div>
