<div class="row">
	<div class="col-12">
		<div class="header">
			<div class="title">
				<h4>The Mocha Mindspace</h4>
			</div>
			<div class="vertical-line"></div>
			<div class="dimensions">
				<h6>Dimensiuni: &nbsp;</h6>
				<ul>
					<li>Lungime: 4.5 m &nbsp;</li>
					<li>Latime: 2.5 m</li>
				</ul>
			</div>
		</div>
		<img src="../../../../assets/Birou/B1/Birou1-1.jpeg" />
	</div>
</div>
<div class="row">
	<div class="col-12">
		<img src="../../../../assets/Birou/B1/Birou1-2.jpeg" />
	</div>
</div>
<div class="row">
	<div class="col-12">
		<img src="../../../../assets/Birou/B1/Birou1-3.jpeg" />
	</div>
</div>
<div class="row">
	<div class="col-12">
		<img src="../../../../assets/Birou/B1/Birou1-4.jpeg" />
	</div>
</div>
<div class="row">
	<div class="col-12">
		<img src="../../../../assets/Birou/B1/Birou1-5.jpeg" />
	</div>
</div>
