<section id="services">
	<div class="container">
		<div class="row">
			<h2>Serviciile <span>noastre</span></h2>
			<p>
				&nbsp;&nbsp; La RDesign, oferim o gama completa de servicii de design interior, de la consultanta
				initiala si realizarea planurilor 2D/3D pana la achizitionarea mobilierului si amenajarea finala. Ne
				vom dedica proiectului tau, transformand viziunea ta intr-un spatiu functional, estetic si
				personalizat. Contacteaza-ne astazi pentru o consultatie gratuita si descopera cum te putem ajuta sa
				creezi casa sau biroul visurilor tale!
			</p>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="col-md-4">
					<div class="service-item">
						<div class="service-item__header">
							<h3>Stan<span>dard</span></h3>
						</div>
						<ul class="service-item__details">
							<li>▷ Consultare in amenajare</li>
							<li>▷ Planificare spatiu</li>
							<li>▷ Dezvoltare concept</li>
							<li>▷ Plan 2D mobilier</li>
							<li>▷ Selectie mobilier si finisaje</li>
						</ul>
						<div class="service-item__openDetails">
							<div class="service-item__btn" (click)="openDetails('standard')">Detalii</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="service-item">
						<div class="service-item__header">
							<h3>Prem<span>ium</span></h3>
						</div>
						<ul class="service-item__details">
							<li>▷ Consultare in amenajare</li>
							<li>▷ Planificare spatiu</li>
							<li>▷ Dezvoltare concept</li>
							<li>▷ Plan 2D mobilier</li>
							<li>▷ Selectie mobilier si finisaje</li>
							<li>▷ Proiectare 3D</li>
							<li>▷ Centralizator costuri</li>
						</ul>
						<div class="service-item__openDetails">
							<div class="service-item__btn" (click)="openDetails('premium')">Detalii</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="service-item">
						<div class="service-item__header">
							<h3>Ult<span>ra</span></h3>
						</div>
						<ul class="service-item__details">
							<li>▷ Consultare in amenajare</li>
							<li>▷ Planificare spatiu</li>
							<li>▷ Dezvoltare concept</li>
							<li>▷ Plan 2D mobilier</li>
							<li>▷ Selectie mobilier si finisaje</li>
							<li>▷ Proiectare 3D</li>
							<li>▷ Centralizator costuri</li>
							<li>▷ Trei deplasari pe santier</li>
							<li>▷ Randari (cate 3/camera)</li>
						</ul>
						<div class="service-item__openDetails">
							<div class="service-item__btn" (click)="openDetails('ultra')">Detalii</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
