<div class="row">
	<div class="col-12">
		<div class="header">
			<div class="title">
				<h4>Skyview Terrace</h4>
			</div>
			<div class="vertical-line"></div>
			<div class="dimensions">
				<h6>Dimensiuni: &nbsp;</h6>
				<ul>
					<li>Lungime: 10 m &nbsp;</li>
					<li>Latime: 6 m</li>
				</ul>
			</div>
		</div>
		<img src="../../../../assets/Terasa/T1/Terasa3.jpeg" />
	</div>
</div>
<div class="row">
	<div class="col-12">
		<img src="../../../../assets/Terasa/T1/Terasa4.jpeg" />
	</div>
</div>
<div class="row">
	<div class="col-12">
		<img src="../../../../assets/Terasa/T1/Terasa5.jpeg" />
	</div>
</div>
<div class="row">
	<div class="col-12">
		<img src="../../../../assets/Terasa/T1/Terasa6.jpeg" />
	</div>
</div>
<div class="row">
	<div class="col-12">
		<img src="../../../../assets/Terasa/T1/Terasa7.jpeg" />
	</div>
</div>
<div class="row">
	<div class="col-12">
		<img src="../../../../assets/Terasa/T1/Terasa8.jpeg" />
	</div>
</div>
<div class="row">
	<div class="col-12">
		<img src="../../../../assets/Terasa/T1/Terasa9.jpeg" />
	</div>
</div>
<div class="row">
	<div class="col-12">
		<img src="../../../../assets/Terasa/T1/Terasa10.jpeg" />
	</div>
</div>
<div class="row">
	<div class="col-12">
		<img src="../../../../assets/Terasa/T1/Terasa11.jpeg" />
	</div>
</div>
