<div class="row">
	<div class="col-12">
		<div class="header">
			<div class="title">
				<h4>Crystal Clear Appetite</h4>
			</div>
			<div class="vertical-line"></div>
			<div class="dimensions">
				<h6>Dimensiuni: &nbsp;</h6>
				<ul>
					<li>Lungime: TBA m &nbsp;</li>
					<li>Latime: TBA m</li>
				</ul>
			</div>
		</div>
		<img src="../../../../assets/DinningRoom/D3/DinningRoom3-2.jpeg" />
	</div>
</div>
<div class="row">
	<div class="col-12">
		<img src="../../../../assets/DinningRoom/D3/DinningRoom3-3.jpeg" />
	</div>
</div>
<div class="row">
	<div class="col-12">
		<img class="square" src="../../../../assets/DinningRoom/D3/DinningRoom3-1.jpeg" />
	</div>
</div>
