<div class="row">
	<div class="col-12">
		<div class="header">
			<div class="title">
				<h4>Ivory Espresso Ambiance</h4>
			</div>
			<div class="vertical-line"></div>
			<div class="dimensions">
				<h6>Dimensiuni: &nbsp;</h6>
				<ul>
					<li>Lungime: TBA m &nbsp;</li>
					<li>Latime: TBA m</li>
				</ul>
			</div>
		</div>
		<img src="../../../../assets/DinningRoom/D2/DinningRoom2-1.jpeg" />
	</div>
</div>
<div class="row">
	<div class="col-12">
		<img src="../../../../assets/DinningRoom/D2/DinningRoom2-2.jpeg" />
	</div>
</div>
<div class="row">
	<div class="col-12">
		<img src="../../../../assets/DinningRoom/D2/DinningRoom2-3.jpeg" />
	</div>
</div>
<div class="row">
	<div class="col-12">
		<img src="../../../../assets/DinningRoom/D2/DinningRoom2-4.jpeg" />
	</div>
</div>
