@import '../../../stylesheets/reset.scss';
@import '../../../stylesheets/anchor-reset.scss';

@media (max-width: 1024px) {
	.container {
		padding: 0;
		.row {
			padding: 0;
			margin: 0;
			.col-12 {
				padding: 0;

				h2 {
					font-size: 20px;
				}
				span {
					margin-bottom: 16px;
				}
			}

			.col-6 {
				width: 100%;
				padding: 0;
			}
		}
	}
}

@media (min-width: 1025px) {
	.container {
		padding: 0;
		.row {
			padding: 0;
			margin: 0;
			.col-12 {
				padding: 0;

				h2 {
					font-size: 24px;
				}
				span {
					margin-bottom: 16px;
				}
			}

			.col-6 {
				padding-left: 12px;
			}
		}
	}
}

img {
	max-width: 100%;
	height: auto;
}

.container {
	.row {
		.col-6 {
			padding-left: 0px;

			h5 {
				text-align: center;
			}

			a {
				@include anchor-reset;

				img {
					margin-bottom: 12px;
					border-radius: 8px;
					width: 100%;
					height: auto;

					&:hover {
						cursor: pointer;
					}
				}
			}
		}

		.col-12 {
			margin-bottom: 12px;
			h2 {
				text-align: center;
				font-weight: 400;
				color: #272727;
				text-transform: uppercase;
				letter-spacing: 4px;
				word-spacing: 4px;
				margin-bottom: 12px;
			}
			span {
				margin-bottom: 24px;
				padding: 8px;
				background-color: #b19777;
				color: #fff;
				font-size: 12px;
				font-weight: 400;
				text-transform: uppercase;
				letter-spacing: 2px;
				text-align: center;
				border: none;
				border-radius: 4px;
				cursor: pointer;
				transition: background-color 0.5s ease;

				&:hover {
					background-color: #272727;
				}
			}
		}
	}
}
