<section>
	<div class="container">
		<div class="row" *ngIf="!showContent">
			<div class="row">
				<div class="col-12">
					<h2>Idei de design pentru living</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-6">
					<h5>Radiant Relaxation Room</h5>
					<a (click)="showLivingThree('living-three')">
						<img src="../../../assets/Living/L3/Living3-cover.jpeg" />
					</a>
				</div>
				<div class="col-6">
					<h5>Cappucino Lounge</h5>
					<a (click)="showLivingOne('living-one')">
						<img src="../../../assets/Living/L1/Living1-1.jpeg" />
					</a>
				</div>
			</div>
			<div class="row">
				<div class="col-6">
					<h5>Crimson Haven Retreat</h5>
					<a (click)="showLivingTwo('living-two')">
						<img src="../../../assets/Living/L2/Living2-1.jpeg" />
					</a>
				</div>
				<div class="col-6">
					<h5>Emerald Elegance</h5>
					<a (click)="showLivingFour('living-four')">
						<img src="../../../assets/Living/L4/Living4-1.jpeg" />
					</a>
				</div>
			</div>
		</div>

		<div *ngIf="showContent">
			<div class="row">
				<div class="col-12">
					<span (click)="hideContent()">Inapoi la idei de living</span>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<router-outlet></router-outlet>
				</div>
			</div>
		</div>
	</div>
</section>
