<section>
	<div class="container">
		<div class="row" *ngIf="!showContent">
			<div class="row">
				<div class="col-12">
					<h2>Idei de design pentru living</h2>
				</div>
			</div>
			<div class="col-6">
				<a (click)="showLivingOne('living-one')">
					<img src="../../../assets/Living/L1/Living1-1.jpeg" />
				</a>
			</div>
			<div class="col-6">
				<a (click)="showLivingTwo('living-two')">
					<img src="../../../assets/Living/L2/Living2-1.jpeg" />
				</a>
			</div>
		</div>

		<div *ngIf="showContent">
			<div class="row">
				<div class="col-12">
					<span (click)="hideContent()">Inapoi la idei de living</span>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<router-outlet></router-outlet>
				</div>
			</div>
		</div>
	</div>
</section>
