@import '../../../../stylesheets/reset.scss';

.row {
	.header {
		display: flex;
		align-items: center;
		justify-content: space-around;
		border-bottom: 1px solid #27272715;
		margin-bottom: 16px;

		.title {
			h4 {
				margin-top: 16px;
				font-weight: 300;
				text-align: center;
			}
		}

		.vertical-line {
			width: 1px;
			height: 60px;
			background-color: #27272715;
		}

		.dimensions {
			margin-bottom: 8px;
			ul {
				@include reset-list;
			}
		}
	}

	.col-12 {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	img {
		width: 80%;
		height: auto;
		margin-bottom: 12px;
		border-radius: 8px;
	}
}

@media (max-width: 575px) {
	.row {
		display: flex;
		justify-content: center;

		.col-12 {
			img {
				width: 100%;
			}
		}
	}

	h4 {
		font-size: 16px;
	}
}

@media (max-width: 767px) {
	.row {
		display: flex;
		justify-content: center;

		.col-12 {
			img {
				width: 100%;
			}
		}
	}

	.header {
		display: flex;
		flex-direction: column;
		align-items: center;

		.vertical-line {
			display: none;
		}

		.dimensions {
			display: flex;
			align-items: center;

			h6 {
				font-size: 12px;
				margin: 0;
			}

			ul {
				display: flex;
				font-size: 12px;
			}
		}
	}
}
