<div class="row">
	<ngb-carousel [interval]="3000" [showNavigationArrows]="false" class="carousel">
		<ng-template ngbSlide *ngFor="let imageName of imgHomeCarousel">
			<div class="picsum-img-wrapper">
				<img [src]="imageName" />
			</div>
		</ng-template>
	</ngb-carousel>

	<div class="overlay"></div>

	<div class="text-over-carousel">
		<p class="text-over-carousel_title">Design interior</p>
		<p class="text-over-carousel_subtitle">
			De la proiectul de design interior pana la cautarea mobilierului necesar, ne ocupam de tot ca sa te
			scapam pe tine de stres si timp pierdut.
		</p>
	</div>
</div>
<div class="row">
	<div class="typing-container" [class.opacity]="typingStarted">
		<p class="typed-text">{{ typedText }}</p>
	</div>
</div>

<div class="row">
	<div class="transition-section">
		<img [src]="homePics[0]" />
		<div class="transition-section-text">
			<p class="title">Amprenta ta, povestea ta, casa ta</p>
			<p class="subtitle">
				Intelegem ca fiecare client este unic si ne straduim sa identificam cu precizie dorintele si nevoile
				tale individuale. Fiecare aspect al amenajarii va evidentia personalitatea ta, transformand locuinta
				intr-un spatiu autentic si caracteristic, care sa iti povesteasca propria istorie.
			</p>
		</div>
	</div>
</div>

<div class="row">
	<div class="projects">
		<p class="projects-title">O privire rapida asupra proiectelor noastre</p>
		<div class="projects-overview">
			<div class="projects-overview-one">
				<div class="photo"><img [src]="homePics[3]" /></div>
				<div class="title">Dormitor</div>
			</div>
			<div class="projects-overview-two">
				<div class="photo"><img [src]="homePics[1]" /></div>
				<div class="title">Baie</div>
			</div>
			<div class="projects-overview-three">
				<div class="photo"><img [src]="homePics[2]" /></div>
				<div class="title">Birou</div>
			</div>
		</div>
		<p class="projects-list">
			<a routerLink="/portofolio" class="btn-portofolio">Mergi catre portofoliu</a>
		</p>
	</div>
</div>
