@import '../../stylesheets/anchor-reset.scss';

.row {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;

	.carousel {
		width: 100vw;
		height: 100vh;
		margin: 0;
		padding: 0;
		position: relative;
		box-shadow: 0px 25px 20px -20px rgba(0, 0, 0, 0.45);
	}

	img {
		width: 100vw;
		height: 100vh;
		object-fit: cover;
	}

	.overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.5);
		z-index: 1;
	}

	.text-over-carousel {
		position: absolute;
		top: 35%;
		left: 25%;
		transform: translate(-35%, -35%);
		width: 600px;
		border-radius: 4px;
		z-index: 2;

		&_title {
			font-size: 24px;
			color: #fff;
			text-align: left;
		}

		&_subtitle {
			font-size: 20px;
			color: #fff;
			font-weight: 300;
			text-align: justify;
		}
	}

	.typing-container {
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		opacity: 0;
		transition: opacity 6s;
		margin: 80px 0;
		width: 80%;
		border-radius: 24px;
		background-color: #171717;
		box-shadow: 0px 25px 20px -20px rgba(0, 0, 0, 0.45), 0px -25px 20px -20px rgba(0, 0, 0, 0.45);

		&.opacity {
			opacity: 1;
		}

		.typed-text {
			text-align: center;
			margin: 0;
			letter-spacing: 2px;
			font-weight: 200;
			color: #fff;
		}
	}

	.transition-section {
		display: flex;
		width: 80%;
		gap: 40px;
		margin-bottom: 40px;

		img {
			border-radius: 24px;
			box-shadow: 0px 25px 20px -20px rgba(0, 0, 0, 0.45), 0px -25px 20px -20px rgba(0, 0, 0, 0.45);
		}

		.transition-section-text {
			display: flex;
			flex-direction: column;
			justify-content: center;

			.title {
				font-size: 24px;
				border-bottom: 1px solid #171717;
			}

			.subtitle {
				font-size: 18px;
			}
		}
	}

	.projects {
		width: 80%;

		&-title {
			border-bottom: 1px solid #171717;
		}

		&-list {
			margin-top: 24px;

			a {
				@include anchor-reset;

				&:hover {
					color: #b19777;
					font-weight: 700;
					transition: color 0.5s, font-weight 0.5s;
				}
			}
		}

		&-overview {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			margin-top: 24px;
			gap: 12px;

			&-one,
			&-two,
			&-three {
				position: relative;

				&:hover {
					border-radius: 24px;
					box-shadow: 2px 2px 6px #b19777;
					transition: box-shadow 0.5s ease-in-out;
				}
			}

			.title {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				opacity: 0;
				color: white;
				font-size: 32px;
				font-weight: 200;
				text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
				transition: opacity 1s ease;
			}

			.projects-overview-one:hover .title,
			.projects-overview-two:hover .title,
			.projects-overview-three:hover .title {
				opacity: 1;
			}

			.photo img {
				transition: transform 0.5s ease, filter 0.5s ease;
				width: auto;
				max-height: 500px;
				border-radius: 24px;

				&:hover {
					filter: blur(1px);
				}
			}
		}
	}
}

@media only screen and (max-width: 375px) {
	.row {
		.text-over-carousel {
			top: 25%;
			left: 15%;
			transform: translate(-15%, -25%);
			width: 280px;

			&_title {
				font-size: 24px;
			}

			&_subtitle {
				font-size: 14px;
				text-align: left;
			}
		}

		.typing-container {
			margin-top: 40px;
			margin-bottom: 40px;
			height: 100px;
		}

		.typed-text {
			font-size: 14px;
		}

		.transition-section {
			display: flex;
			flex-direction: column;

			img {
				height: auto;
				width: auto;
			}
			.transition-section-text {
				.title {
					font-size: 20px;
				}

				.subtitle {
					font-size: 16px;
				}
			}
		}

		.projects {
			width: 80%;

			&-title {
				font-size: 20px;
			}

			&-list {
				font-size: 16px;
			}

			&-overview .photo img {
				max-height: 350px;
			}
		}
	}
}

@media (min-width: 376px) and (max-width: 425px) {
	.row {
		.text-over-carousel {
			top: 25%;
			left: 15%;
			transform: translate(-15%, -25%);
			width: 280px;

			&_title {
				font-size: 24px;
			}

			&_subtitle {
				font-size: 14px;
				text-align: left;
			}
		}

		.typing-container {
			margin-top: 40px;
			margin-bottom: 40px;
			height: 100px;
		}

		.typed-text {
			font-size: 14px;
		}

		.transition-section {
			display: flex;
			flex-direction: column;

			img {
				height: auto;
				width: auto;
			}
			.transition-section-text {
				.title {
					font-size: 20px;
				}

				.subtitle {
					font-size: 16px;
				}
			}
		}
	}

	.projects {
		width: 80%;

		&-title {
			font-size: 20px;
			border-bottom: 1px solid #171717;
		}

		&-list {
			font-size: 16px;
		}

		&-overview .photo img {
			max-height: 400px;
		}
	}
}

@media (min-width: 426px) and (max-width: 768px) {
	.row {
		.text-over-carousel {
			top: 25%;
			left: 20%;
			transform: translate(-20%, -25%);
			width: 360px;

			&_title {
				font-size: 24px;
			}

			&_subtitle {
				font-size: 16px;
				text-align: left;
			}
		}

		.typing-container {
			margin-top: 40px;
			margin-bottom: 40px;
			height: 100px;
		}

		.typed-text {
			font-size: 14px;
		}

		.transition-section {
			display: flex;
			flex-direction: column;

			img {
				height: auto;
				width: auto;
			}
			.transition-section-text {
				.title {
					font-size: 20px;
				}

				.subtitle {
					font-size: 16px;
				}
			}
		}
	}

	.projects {
		width: 80%;

		&-title {
			font-size: 20px;
		}

		&-list {
			font-size: 16px;
		}

		&-overview .photo img {
			max-height: 450px;
		}
	}
}

@media (min-width: 769px) and (max-width: 1024px) {
	.row {
		.text-over-carousel {
			top: 25%;
			left: 20%;
			transform: translate(-20%, -25%);

			&_title {
				font-size: 24px;
			}

			&_subtitle {
				font-size: 16px;
				text-align: left;
			}
		}
		.typing-container {
			margin-top: 40px;
			margin-bottom: 40px;
			height: 120px;
		}

		.typed-text {
			font-size: 20px;
		}

		.transition-section {
			display: flex;
			flex-direction: column;

			img {
				max-height: 600px;
				width: auto;
			}
			.transition-section-text {
				.title {
					font-size: 24px;
				}

				.subtitle {
					font-size: 18px;
				}
			}
		}
	}

	.projects {
		width: 80%;

		&-title {
			font-size: 24px;
		}

		&-list {
			font-size: 18px;
		}

		&-overview .photo img {
			max-height: 300px;
		}
	}
}

@media (min-width: 1025px) and (max-width: 1440px) {
	.row {
		.typing-container {
			margin-top: 40px;
			margin-bottom: 40px;
			height: 120px;
		}

		.typed-text {
			font-size: 24px;
		}

		.transition-section {
			display: flex;

			img {
				max-height: 700px;
				width: 60%;
			}
			.transition-section-text {
				.title {
					font-size: 20px;
				}

				.subtitle {
					font-size: 16px;
				}
			}
		}

		.projects {
			width: 80%;

			&-title {
				font-size: 24px;
			}

			&-list {
				font-size: 16px;
			}

			&-overview .photo img {
				max-height: 420px;
			}
		}
	}
}

@media (min-width: 1441px) {
	.row {
		.typing-container {
			margin-top: 40px;
			margin-bottom: 40px;
			height: 120px;
		}

		.typed-text {
			font-size: 24px;
		}

		.transition-section {
			display: flex;

			img {
				max-height: 700px;
				width: 60%;
			}
			.transition-section-text {
				.title {
					font-size: 20px;
				}

				.subtitle {
					font-size: 16px;
				}
			}
		}

		.projects {
			width: 80%;

			&-title {
				font-size: 24px;
			}

			&-list {
				font-size: 16px;
			}

			&-overview .photo img {
				max-height: 450px;
			}
		}
	}
}
