<div class="row">
	<ngb-carousel [interval]="3000" [showNavigationArrows]="false" class="carousel">
		<ng-template ngbSlide *ngFor="let imageName of imageNames">
			<div class="picsum-img-wrapper">
				<img [src]="getImagePath(imageName)" />
			</div>
		</ng-template>
	</ngb-carousel>

	<div class="overlay"></div>

	<div class="text-over-carousel">
		<p class="text-over-carousel_title">Design interior</p>
		<p class="text-over-carousel_subtitle">
			De la proiectul de design interior pana la cautarea mobilierului necesar, ne ocupam de tot ca sa te
			scapam pe tine de stres si timp pierdut.
		</p>
	</div>
</div>
