<section id="contact-page">
	<div class="contact-page-form">
		<div class="contact-form-container">
			<h2>Contactează-ne</h2>
			<form class="contact-form" action="https://formspree.io/f/xanqydbq" method="POST">
				<div class="form-group">
					<label for="name">Nume</label>
					<input type="text" id="name" name="name" placeholder="Introdu numele tău" required />
				</div>
				<div class="form-group">
					<label for="email">Email</label>
					<input type="email" id="email" name="email" placeholder="Introdu adresa de email" required />
				</div>
				<div class="form-group">
					<label for="message">Mesaj</label>
					<textarea id="message" name="message" placeholder="Scrie mesajul tău" rows="5" required></textarea>
				</div>
				<button type="submit" class="submit-btn">Trimite mesaj</button>
			</form>
		</div>
	</div>
	<div class="contact-page-more-info">
		<div class="working-hours">
			<h3>Program</h3>
			<p>Luni - Vineri: <span>9:00 - 17:00</span></p>
			<p>Weekend: Închis</p>
		</div>

		<div class="faq">
			<h3>Întrebări frecvente</h3>
			<details>
				<summary>În cât timp răspundeți la mesaje?</summary>
				<p>De obicei răspundem în maxim 24 de ore.</p>
			</details>
			<details>
				<summary>Oferiți suport telefonic?</summary>
				<p>
					Da, oferim si suport telefonic la nr de telefon <a href="tel:+40753505606"> +40753 505 606 </a>.
				</p>
			</details>
		</div>
	</div>
</section>
