@import '../../../stylesheets/anchor-reset.scss';
@import '../../../stylesheets/reset.scss';

#contact-page {
	margin-top: 32px;
}

.container {
	.row {
		.col-md-12 {
			h2 {
				font-weight: 400;
				color: #272727;
				text-transform: uppercase;
				margin-bottom: 36px;
			}
		}
	}
}

@media only screen and (max-width: 375px) {
	.container {
		.row {
			.col-md-12 {
				h2 {
					font-size: 24px;
					letter-spacing: 5px;
					text-align: center;
				}
			}
		}
	}
}

@media (min-width: 376px) and (max-width: 768px) {
	.container {
		.row {
			.col-md-12 {
				h2 {
					font-size: 24px;
					letter-spacing: 5px;
					text-align: center;
				}
			}
		}
	}
}

@media (min-width: 769px) and (max-width: 1025px) {
	.container {
		.row {
			h2 {
				font-size: 28px;
				letter-spacing: 6px;
				word-spacing: 2px;
			}
		}
	}
}
@media (min-width: 1026px) {
	.row {
		h2 {
			font-size: 32px;
			letter-spacing: 6px;
			word-spacing: 2px;
		}
	}
}

.accordions {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 8px;
}

.mat-accordion {
	// width: 80%;

	.mat-expansion-panel {
		.mat-expansion-panel-header-title {
			font-family: 'Montserrat', sans-serif;
			font-size: 24px;
			font-weight: 300;
		}
		background-color: whitesmoke;
		.contact-info,
		.working-hours,
		.social-media {
			p {
				line-height: 150%;
				font-family: 'Montserrat', sans-serif;
				font-size: 16px;

				span {
					color: #b19777;
					font-weight: 600;
				}

				a {
					@include anchor-reset;

					color: #b19777;
					font-weight: 600;
				}
			}

			ul {
				padding: 0;
				margin: 0;
				list-style: none;

				display: flex;
				li {
					a {
						@include anchor-reset;

						svg {
							width: 50px;
							height: 50px;
						}
					}
				}
			}
		}
	}
}
