<section>
	<div class="container">
		<div class="row" *ngIf="!showContent">
			<div class="row">
				<div class="col-12">
					<h2>Idei de design pentru bucatarie</h2>
				</div>
			</div>
			<div class="col-6">
				<h5>Ivory & Espresso Kitchen</h5>
				<a (click)="showBucatarieOne('bucatarie-one')">
					<img [src]="imageBucatarieOne[0]" />
				</a>
			</div>
			<div class="col-6">
				<h5>White Radiance Kitchen</h5>
				<a (click)="showBucatarieTwo('bucatarie-two')">
					<img [src]="imageBucatarieTwo[0]" />
				</a>
			</div>
		</div>

		<div class="row" *ngIf="!showContent">
			<div class="col-6">
				<h5>White Dazzle Kitchen</h5>
				<a (click)="showBucatarieThree('bucatarie-three')">
					<img [src]="imageBucatarieThree[0]" />
				</a>
			</div>
		</div>

		<div *ngIf="showContent">
			<div class="row">
				<div class="col-12">
					<span (click)="hideContent()">Inapoi la idei de bucatarii</span>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<router-outlet></router-outlet>
				</div>
			</div>
		</div>
	</div>
</section>
