<h2 mat-dialog-title>Ce include pachetul standard? Pret: 10€/m2</h2>
<mat-dialog-content class="mat-typography">
	<h3>Consultare in amenajare</h3>
	<p>
		Ne vom intalni cu tine (fizic sau online) pentru a discuta despre preferintele tale de design, cerintele
		si bugetul. Acest lucru ne va ajuta sa intelegem viziunea si obiectivele tale pentru proiect.
	</p>

	<h3>Planificarea spatiului</h3>
	<p>
		Vom creea un plan detaliat care optimizeaza utilizarea spatiului, luand in considerare fluxul de trafic,
		functionalitatea si estetica.
	</p>

	<h3>Dezvoltarea conceptului</h3>
	<p>
		Pe baza preferintelor si cerintelor tale, vom dezvolta un concept de design care sa reflecte stilul tau si
		atmosfera dorita. Aceasta va include selectarea culorilor, materialelor, finisajelor si optiunilor de
		mobilier.
	</p>

	<h3>Plan 2D</h3>
	<p>
		Iti vom oferi reprezentari in plan 2D al asezarii mobilierului pentru designului propus, permitandu-ti sa
		vizualizezi cum va arata spatiul.
	</p>

	<h3>Selectia mobilierului si a finisajelor</h3>
	<p>
		Te vom ajuta sa alegi mobilierul, accesoriile si finisajele care se aliniaza cu conceptul de design. Putem
		oferi recomandari si sa gasim atat piese personalizate, cat si standard.
	</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
	<button mat-button mat-dialog-close>Inchide</button>
</mat-dialog-actions>
